In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
pwd

u'/Users/jakewhite/Documents/Training/Python For Data Analysis'

In [4]:
cat ./ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_table('ex1.csv', sep=",")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
#touch
#grep ^\\d ex1.csv > ex2.csv

In [19]:
cat ./ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [20]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [21]:
pd.read_csv('ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
cat mindex.csv

key1, key2, value1, value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [26]:
parsed = pd.read_csv('mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [28]:
result = pd.read_csv('ex5.csv')
result

      ex  a   b   c   d message
0    one  1   2   3   4     NaN
1    two  5   6 NaN   8   world
2  three  9  10  11  12     foo

In [29]:
pd.read_csv('ex5.csv', na_values=['NULL'])

      ex  a   b   c   d message
0    one  1   2   3   4     NaN
1    two  5   6 NaN   8   world
2  three  9  10  11  12     foo

In [30]:
sentinels = {'message': ['foo', 'NA'], 'ex': ['two']}
pd.read_csv('ex5.csv', na_values=sentinels)

      ex  a   b   c   d message
0    one  1   2   3   4     NaN
1    NaN  5   6 NaN   8   world
2  three  9  10  11  12     NaN

In [31]:
pd.read_csv('ex5.csv', nrows=2)

    ex  a  b   c  d message
0  one  1  2   3  4     NaN
1  two  5  6 NaN  8   world

In [32]:
cat ex7.csv

"a","b","c"
"1","2","3"
"x","y","z","w"

In [33]:
import csv
f = open('ex7.csv')
reader = csv.reader(f)

for line in reader:
    print line

['a', 'b', 'c']
['1', '2', '3']
['x', 'y', 'z', 'w']
[]

In [36]:
lines = list(csv.reader(open('ex7.csv')))
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}

data_dict

{}

In [38]:
from lxml.html import parse
from urllib2 import urlopen

parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc = parsed.getroot()

In [39]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x106b10ba8>,
 <Element a at 0x106b10c00>,
 <Element a at 0x106b10c58>,
 <Element a at 0x106b10cb0>,
 <Element a at 0x106b10d08>]

In [40]:
lnk = links[28]

lnk.get('href')

'https://autos.yahoo.com/'

In [41]:
lnk.text_content()

'Autos'

In [43]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['/q/op?s=AAPL&strike=138.00',
 '/q?s=AAPL150904P00138000',
 '/q/op?s=AAPL&strike=139.00',
 '/q?s=AAPL150904P00139000',
 '/q/op?s=AAPL&strike=140.00',
 '/q?s=AAPL150904P00140000',
 '/q/op?s=AAPL&strike=145.00',
 '/q?s=AAPL150904P00145000',
 '/q/op?s=AAPL&strike=155.00',
 '/q?s=AAPL150904P00155000']

In [59]:
tables = doc.findall('.//table')
calls = table[1]
puts = table[2]

In [61]:
rows = calls.findall('.//tr')

def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

res = _unpack(rows[0], kind='th')

res

[u'\n                \n                     Strike\n                    \n                        \ue004\n                        \ue002\n                    \n                \n                \u2235 Filter\n            ',
 'Contract Name',
 u'\n                \n                    Last\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Bid\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Ask\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Change\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    %Change\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Volume\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Open Interest\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Implied Volatility\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ']

In [62]:
res[0]

u'\n                \n                     Strike\n                    \n                        \ue004\n                        \ue002\n                    \n                \n                \u2235 Filter\n            '

### 9-3-15

In [4]:
from lxml import objectify
from StringIO import StringIO

tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(StringIO(tag)).getroot()
root.get('href')
root.text

'Google'